<style type="text/css">
body {
	background-color: #CCFFFF;
}
section {
	background-color: #FFCC66;
	height: 50px;
	position: relative;
}
body {
	background-color: #66CCFF;
}	

nav {
	background-color: #FFFF66;
	position: absolute;
	min-height: 300px;
	width: 100px;
	bottom: 0px;
	top: 0px;
	left: 0px;
}
/*#temp {
	position:relative;
}
*/
/*footer{
	background-color: #FFCC00;
	height: 40px;
	/*position: relative;
	top: 0px;
	
}
*/
a.signup_button{
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
width: 190px;
color: #fff;
background: #005400;
font-size: 150%;
font-weight: bold;
padding: 20px;
}
footer {
text-align: center;
margin-top: 10px;
width: 710px;
margin-left: auto;
margin-right: auto;
}

</style>